# Raw Excel & Data files
*.xlsx
*.xls
*.csv

# Backup & Temp
*.bak
*.zip
*.tar.gz
test.jpg
sk_pages/

# Python
*.py
scripts/*
!scripts/obfuscate.js
__pycache__/

# Scratch & Metadata
scratch/
stitch_raw/
stitch_*metadata.json
.DS_Store
.vercel

.env*
